# Automatically bring-up wired interfaces. If possible, get an address using
# DHCP.
# See http://www.freedesktop.org/software/systemd/man/systemd.network.html
[Match]
Name=eth*

[Network]
DHCP=v4
